body {
    margin: 0 11px;
}

.photograph {
    .make-lg-column(4);
}

.photograph img {
    display: block;
    margin: 11px auto;
    max-height: 555px;
}

footer {
    margin-top: 22px;
    font-size: 77%;
}
